@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!--decclaring a view from the -layout.cshtml and be able to pull the variable out when I want to-->
    <!--its also allowing the tab to be shown when I run the website-->
    ViewData["Title"] = "My Website";

}



<h1>Stefany Guevara Website</h1>
<img src="img/Stefany.jpg" />
<p>
    The expectation of IS413 is the work you put in the class is the results and efforts that I will see in my learning
    <br />   and be able to apply the skills long term. I am expected to develop information systems in group settings and learn through
    <br />   implementation and testing. I will also have the opportunity to work as a leader of our team and make sure things are running smoothly
    <br />    Also I will be able to develop time management expertise and be able to manage my time better through the semester
    <br />   lastly being able to learn Enterprise systems development principles and methods.
</p>
<br />

<p>  Top 3 Jobs: </p>
<ul>
    <li>1: Data Analytics</li>
    <li>2: Web Development</li>
    <li>3: Project Manager</li>
</ul>

